.square {
	background-color: blue;
	margin: auto;
	height: 200px;
	width: 200px;
	border: 10px solid white;
	
/*efekt transition da wszytskich opcji*/
	transition: all 1s ease-in;
}

/*efekt hover dla clalej klasy*/

.square:hover {
	width: 400px;
}

#square1 {
	background-color: red;
}

#square2 {
	background: blue;
}

#square3 {
	background: green;
}