/*selektor dla stylu generalnego - nadpisany przez kazdy kolejny*/
a {font-size: 3em;}


/*nada atrybut */
/*selector[att]   selector to nasz paragraf albo header*/

a[title] {color:mediumvioletred;}

/*odwoluje sie to konkretnego tytulu*/

a[title="Link 5"] {color:greenyellow;}

a[title~="Link"] {color:chocolate;}


/*tylko linki, które mają ciąg znaków .pl mają kolor aqua*/
a[href*=".pl"] {color: aqua;}


/*tylko elementy, ktorych atrybut title zaczyna sie od T beda czarne*/
a[title^="T"] {color:black;}

/*ten, który kończy się na com bedzie żółty*/
a[href$=".com"] {color: yellow;}